@* /Views/Shared/_Footer.cshtml *@
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>@ViewBag.AboutFooter <a href="@ViewBag.AboutUrl">Xem thêm</a></p>
            </div>
            <div class="col-md-3">
                <strong>Liên hệ:</strong> @ViewBag.Phone
            </div>
        </div>
    </div>
</footer>
