@* /Views/Shared/_Header.cshtml *@
<header id="header">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/public/img/@ViewBag.Logo" alt="Logo" width="157" height="54" />
            </a>
        </div>
        <nav>
            <!-- Menu, Giỏ Hàng, Tài Khoản -->
        </nav>
    </div>
</header>
